.card {
    display: flex;
    align-items: center;

    &__icons {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;

        &__icon {
            cursor: pointer;
            margin-left: 16px;
        }
    }
}

.separator {
    width: 100%;
    border: 1px solid grey;
}